DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5432/stageflow
APP_NAME="StageFlow API"
API_V1_PREFIX="/api/v1"
SECRET_KEY=change-moi-en-une-longue-chaine-aleatoire
DEBUG=true
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
ALLOWED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
